@model TestViewComponent.ViewModels.ArchivoViewModel
@using TestViewComponent.ViewComponents


<div id="anadir" class="anadir-documento seccion-contenido-color-padding collapse">
    <div class="formulario-seccion-title">Nuevo documento</div>
    <hr />
    
</div>